#contact-root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    padding: 10% 8% 10% 8%;
}

#contact-text {
    font-size: 2.2rem;
    font-weight: 700;
    width: 40%;padding-right: 4%;
}

#contact-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.contact-input-field {
    width: 100%;
    background-color: whitesmoke;
    color: dimgray;
    margin-bottom: 1.4rem;
    padding: 0 0.4rem 0rem 0.4rem;
}

#contact-input-message {
    resize: none;
}

.input-error {
    color: #c75858;
    font-size: 0.7rem;
}

#contact-button {
    background-color: #f7a8a8;
    color: whitesmoke;
    padding-left: 7%;
    padding-right: 7%;
    font-family: 'Poppins';
}

::ng-deep snack-bar-container.success-snackbar {
    background-color: #b1d384;
    margin: auto;
}

::ng-deep snack-bar-container.error-snackbar {
    background-color: #ee4444;
    margin: auto;
}

@media only screen and (max-width: 768px) {

    #contact-root {
        flex-direction: column;
    }

    .contact-input-field {
        margin-left: -0.4rem;
    }

    #contact-text {
        width: 100%;
        padding-bottom: 8%;
    }
    
}