<span id='about-root'>
    <label class='about-text'> Absolute Builders LLC has been developing land, building new homes and remodeling existing homes since 1995 </label>
    <label class='about-text'> Some of our projects include Great Pine Estates in Whitman, Beechtree Estates in Holbrook, Tupper Farm in Abington, and Alewife Condominium in Weymouth. </label>
    <label class='about-text'> Our track record speaks for itself, and we are proud of the work we do and the lives we’ve changed along the way. While we specialize in land development, custom home building, and home renovations, we have experience with a variety of building services for both homes and businesses.   </label>
    <img id='about-image' src='assets/images/about-image.jpg'>
    <label class='about-subtitle'>Certifications</label>
    <label class='about-text'>Licensed and Insured in MA</label>
</span>
