<span id='about-root'>
    <label class='about-text'> We have been assisting the south shore with stuff for years. We care about what we do unlike many others who dont care. </label>
    <label class='about-text'> Look out for dudes who wear shorts that go over their knees... you cannot trust them. </label>
    <label class='about-text'> Often if you see them, they may not look that threatening, although you can be pretty sure that things will be happening. This letter is a bit overdue, but I wanted to write to you before your Monday meeting so you can convey my sincere thanks to everyone on your team.  It’s unusual for me to hire for such a large project without getting multiple bids or references </label>
    <img id='about-image' src='assets/images/fake-about-image.jpg'>
    <label class='about-subtitle'>Certifications</label>
    <label class='about-text'>Licensed and Insured in MA</label>
    <label class='about-subtitle'>References</label>
    <label class='about-text'>" Carl was a pleasure to work with, did a great job without blowing a hole in my pocket. 10 out of 10 "</label>
    <label class='about-text'>" My kitchen is beautiful! so happy i decideded to go with Absolute Builders, they made the process extremely simple "</label>
</span>
