<div id='home-root'>
    <label id='home-title'>Greetings!</label>
    <label id='home-description'> We are passionate about what we do, and commited to providing the highest quality service to our customers </label>
    
    <div id='home-cards-container'>
        <mat-card class='card'>
            <img class='card-icon' src='assets/images/blueprint.png'>
            <mat-card-content>
                <p class='card-label'>
                land development
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class='card'>
            <img class='card-icon' src='assets/images/house.png'>
            <mat-card-content>
                <p class='card-label'>
                custom home building
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class='card'>
            <img class='card-icon' src='assets/images/toolbox.png'>
            <mat-card-content>
                <p class='card-label'>
                home renovations
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <p id='home-why-us-description'>
        Absolute Builders, LLC is a local leader in land development, custom home building, and home renovations in the South Shore. With over 25 years of industry experience, we know how to get the job done as quickly and economically as possible without compromising quality. Feel free to reach out for a quote, or simply advice on your building project.
    </p>

</div>

