#home-root {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

#home-title {
    font-size: 6rem;
    font-weight: bold;
    color: #f7a8a8;
    padding-left: 3rem;
    padding-right: 3rem;
}

#home-description {
    font-size: 1.2rem;
    color: #f7a8a8;
}

#home-cards-container {
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    border: 3px solid;
    border-color: gray;
    width: 18rem;
    height: 12rem;
    overflow: auto;
    margin-bottom: 2rem;
}

.card-icon {
    width: 6rem;
    height: 6rem;
    margin-bottom: 10%;
}

.card-label {
    color: white;
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: bold;
    overflow: auto;
}

#home-why-us-description {
    padding: 3% 20% 8% 20%;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {

    #home-why-us-description {
        padding-left: 6%;
        padding-right: 6%;
    }

    #home-title {
        font-size: 4rem;
    }
    
}

@media only screen and (max-width: 1080px) {

    #home-cards-container {
        flex-direction: column;
    }

    #home-root {
        text-align: center;
    }
    
}