<span id='footer-content'>
    <span id='footer-contact-info-container'>
        <label id='footer-address-label'> 932 Bedford St, Abington MA 02351 </label>
        <label id='footer-phone-label'> 781-799-3388 </label>
        <a href='mailto:djust@djustrealty.com' id='footer-email-label'>
            djust@djustrealty.com
        </a>
    </span>
</span>
<span id='footer-icon-container'>
    <a href='https://www.facebook.com/carl.djusberg/about'>
        <img  class='icon' src='assets/images/facebook-icon.png'>
    </a>
</span>





