#footer-contact-info-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2%;
}

#footer-address-label {
    color: white;
}

#footer-phone-label {
    color: #FFEFD5;
    font-weight: 800;
}

#footer-email-label {
    color: #FFEFD5;
    font-weight: 800;
}

#facebook-icon {
    width: 48px;
    height: 48px;
}

#footer-website-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    #footer-contact-info-container {
        flex-direction: column;
    }
}