#footer-contact-info-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2%;
}

#footer-address-label {
    color: white;
}

#footer-phone-label {
    color: #FFEFD5;
    font-weight: 800;
}

#footer-email-label {
    color: #FFEFD5;
    font-weight: 800;
}

#footer-linkedin-label {
    color: white;
}

#footer-facebook-label {
    color: white;
}

@media only screen and (max-width: 768px) {
    #footer-contact-info-container {
        flex-direction: column;
    }
}