#nav-header {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.nav-option {
    color: #2F78A0;
    margin-right: 2%;
}

#nav-image {
    width: 48px;
    height: 48px;
}

#nav-label {
    margin-left: 2%;
    color: #FFEFD5;
    font-weight: 700;
    white-space: nowrap;
}

#nav-menu-button {
    display: none;
    margin-right: 1rem;
}

#nav-space {
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {

    #nav-menu-button {
        display: block;
    }

    .nav-option {
        display: none;
    }

    #nav-label {
        display: none;
    }

    #nav-image {
        padding-left: 1rem;
    }

}