<span id='projects-root'>
    <span class='project' *ngFor='let project of projects;'>
        <span class='project-image-scroll'>
            <input (click)='decreaseImageIndex(project)' class='decrease-arrow' type="image" src="assets/images/decrease-arrow.png">
            <a href='{{project.images[project.imageIndex]}}'><img class='project-image' src='{{project.images[project.imageIndex]}}' ></a>
            <input (click)='increaseImageIndex(project)' class='increase-arrow' type="image" src="assets/images/increase-arrow.png">
        </span>
        <span class='project-text'>
            <span class='project-title'>{{project.title}}</span>
            <span>{{project.location}}</span>
        </span>
    </span>
</span>

